.categories{
    margin-top: 30px;
    text-align: center;
}

.btn-category{
    display: inline-block;
    width: 170px;
    height: 50px;
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 40px;
    border: 1px solid #17a2b8;
    border-radius: 6px;
    font-weight: bold;
    color:#455c78;
   
}

.btn-category:hover{
  /* pointer:mouse; */
  cursor: pointer;
  background-color: #17a2b8;
  color:white;
}


