#cart-display{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: white;
    border: 1px solid #adadad;
    padding: .7rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
#cart-main{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2rem;
    padding-right: 2rem;
}
#cart-main h1, p, h5{
   font-size: 18px;
}


#cart-total{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    padding: 1rem;
}
#displayTotal{
    padding-bottom: .5rem;
}